# ==============================================================================
# FRONTEND ENVIRONMENT VARIABLES
# ==============================================================================

# Local Development URL:
# NEXT_PUBLIC_API_URL="http://localhost:8000/api/v1"

# Production Railway Backend API URL:
NEXT_PUBLIC_API_URL="https://chatbot-hdsd-backend.up.railway.app/api/v1"